@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Source+Code+Pro&display=swap');
/* font-family: 'Press Start 2P', cursive;
font-family: 'Source Code Pro', monospace; */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 10px;
    scroll-behavior: smooth;
}

body{
    font-family: 'Source Code Pro', monospace;
    background-color: #FFDFAC;
}

.btn {
    display: inline-block;
    font-size: 1.6rem;
    padding: 1rem 3rem;
    background: transparent;
    border: 2px solid black;
    margin-top: 3rem;
    text-decoration: none;
    transition: box-shadow 1s;
    color: #000000;
}

.btn:hover {
    box-shadow: inset 400px 0 0 0px #000000;
    transition: 1s;
    color: #fff;
}


/* General Styles */

nav {
    width: 100%;
    min-height: 10vh;
    margin:auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    background-color: #FFDFAC;
    border-bottom: 2px solid #000000;
    z-index: 99;
}

.navContainer {
    width: 70%;
    min-height: 10vh;
    margin:auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo {
    font-family: 'Press Start 2P', cursive;
    font-size: 3rem;
}

.nav-links {
    position: relative;
    /* background-color: orange; */
    padding: 2rem;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li {
    margin-left: 3rem;
}

nav ul li a {
    color: #000000;
    text-decoration: none;
    font-size: 1.4rem;
    font-family: 'Press Start 2P', cursive;
}

.nav-links i {
    color: #000000;
    font-size: 1.6rem;
    opacity: 0
}

.nav-link.active i{
    opacity: 1
}

i.fa-hamburger {
    font-size: 3rem;
    display: none
}

#hamburgerMenu {
    display: none;
}

@media screen and (max-width: 700px){
    nav {
        width: 100%;
        min-height: 7%;
        margin:auto;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        position: fixed;
        top: 0;
        left: 0;
        background-color: #FFDFAC;
        border-bottom: 2px solid #000000;
    }

    .nav-links {
        display: none;
    }

    #logo {
        
        font-size: 2rem;
    }
    .navContainer {
        width: 90%;
        min-height: 100%;
        margin:auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    i.fa-hamburger {
        font-size: 3rem;
        display: block;
        cursor: pointer;
        color: #000;
    }
}


@media screen and (max-width: 700px) {
    main {
        text-align: center;
        margin: auto;
    }
}

/* 

Welcome Section

*/

#welcome {
    width: 80%;
    height: 100vh;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 5%;
}

.welcome-img {
    width: 45%;
}

.welcome-img img {
    width: 100%;
    
}


.welcome-text {
    width: 40%;
    text-align: left;
}

.welcome-text h2{
    font-size: 5rem;
    margin-bottom: 2rem;
    font-family: 'Press Start 2P', cursive;
}

.welcome-text p{
    font-size: 2.3rem;
}

.welcome-text .nextSection {
    display: inline-block;
    font-size: 1.6rem;
    padding: 1rem 3rem;
    background: transparent;
    border: 2px solid black;
    margin-top: 3rem;
    text-decoration: none;
    transition: box-shadow 1s;
    color: #000000;
}

.welcome-text .nextSection:hover{
    box-shadow: inset 400px 0 0 0px #000000;
    transition: 1s;
    color: #fff;
}


@media screen and (max-width: 700px) {
    #welcome {
        width: 90%;
        height: 100%;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
        padding-top: 30%;
        margin-bottom: 5rem;
    }

    .welcome-img {
        width: 50%;
    }

    .welcome-text {
        width: 100%;
        text-align: center;
    }
    
    .welcome-text h2 {
        margin-top: 3rem;
        font-size: 4rem;
    }
}

@media screen and (max-width: 3500px) {

}

/* 

ABOUT SECTION


*/


#about {
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 80%;
    margin: auto;
    text-align: center;
}

.about-text {
    width: 100%;
    text-align: center;
}

.about-text h3 {
    font-size: 5rem;
    font-family: 'Press Start 2P', cursive;
    margin: 4rem 0;
}

.about-text p {
    font-size: 2rem;
}

.about-img {
    overflow: visible;
    display: flex;
}

.about-img img:nth-child(1){
    transform: scale(0.8) translateX(60%) translatey(10%);
    z-index: -1;
    opacity: 0.9;
}

.about-img img:nth-child(3){
    transform: scale(0.8) translateX(-60%) translatey(10%);
    z-index: -1;
    opacity: 0.9;
}

@media screen and (max-width: 700px) {
    #about {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
        width: 90%;
        margin: auto;
        text-align: center;
    }

    .about-text h3 {
        font-size: 4rem;
    }

    .about-img {
        overflow: visible;
        display: flex;
    }

    .about-img {
        transform: scale(0.5);
    }
    
    .about-img img:nth-child(1){
        transform: scale(0.8) translateX(60%) translatey(10%);
        z-index: -1;
        opacity: 0.9;
    }
    
    .about-img img:nth-child(3){
        transform: scale(0.8) translateX(-60%) translatey(10%);
        z-index: -1;
        opacity: 0.9;
    }
}

@media screen and (max-width: 380px) {
    #about {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
        width: 90%;
        margin: auto;
        text-align: center;
    }

    .about-text h3 {
        font-size: 4rem;
    }

    .about-img {
        overflow: visible;
        display: flex;
    }

    .about-img {
        transform: scale(0.4);
    }
    
    .about-img img:nth-child(1){
        transform: scale(0.8) translateX(60%) translatey(10%);
        z-index: -1;
        opacity: 0.9;
    }
    
    .about-img img:nth-child(3){
        transform: scale(0.8) translateX(-60%) translatey(10%);
        z-index: -1;
        opacity: 0.9;
    }
}

/* 




Our chunks website




*/

#our-chunks {
    width: 80%;
    margin: auto;
    height: 100vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.chunks-text h3{
    font-size: 5rem;
    font-family: 'Press Start 2P', cursive;
    margin: 4rem 0;
}

.chunks-text p {
    font-size: 2rem;
}

.chunks {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.chunk-item {
    width: 30%;
}

.chunk-item img {
    width: 50%;
    height: 100%;
}

.chunk-item-desc {
    font-size: 3rem;
}

@media screen and (max-width: 700px) {

    #our-chunks {
        width: 80%;
        margin: auto;
        height: 100%;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
        margin-bottom: 5rem;
    }

    .chunks-text h3{
        font-size: 4rem;
        font-family: 'Press Start 2P', cursive;
        margin: 2rem 0;
    }

    .chunks {
        flex-direction: column;
    }

    .chunk-item {
        width: 100%;
        height: 100%;
    }

    .chunk-item img {
        width: 50%;
        height: 50%;
    }
}





/* 


BUY SECTİON


*/

#buy {
    width: 80%;
    margin: auto;
    height: 70vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

#buy h3{
    font-size: 5rem;
    font-family: 'Press Start 2P', cursive;
    margin: 4rem 0;
}

#buy p {
    font-size: 2rem;
}

.buy-chunk-item {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.buy-chunk-item img {
    border-radius: 2rem;
    width: 40%;
}

.buy-desc {
    width: 60%;
    text-align: center;
}


@media screen and (max-width: 800px) {
    #buy {
        width: 90%;
        margin: auto;
        height: 70vh;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
    }
    
    .buy-chunk-item {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
    }
    
    .buy-chunk-item img {
        border-radius: 2rem;
        width: 90%;
        margin-bottom: 3rem;
    }
    
    .buy-desc {
        width: 100%;
        text-align: center;
    }
}
/*



Contact



*/

#contact {
    width: 50%;
    text-align: left;
    margin: auto;
    padding: 6rem;
}

.contact-text h3{
    font-size: 5rem;
    font-family: 'Press Start 2P', cursive;
    margin: 4rem 0;
}
.contact-text p{
    font-size: 2rem;
    width: 100%;
    margin: auto;
    text-align: left;
    margin-top: 5rem;
}

form {
    text-align: left;
}

#contact form input {
    width: 100%;
    display: block;
    margin: auto;
    margin-top: 3rem;
    padding: 1rem;
    border: 2px solid #000;
    background-color: transparent;
    color: #000;
    text-align: center;
    font-size: 2rem;
    outline: none;
    border-left: 2px solid #000;
    border-right: 2px solid #000;
    font-family: 'Source Code Pro', monospace;
    text-align: left;
}

#contact textarea {
    width: 100%;
    display: block;
    margin: auto;
    margin-top: 3rem;
    padding: 1rem;
    border: 2px solid #000;
    background-color: transparent;
    color: #000;text-align: center;
    font-size: 2rem;
    outline: none;
    font-family: 'Source Code Pro', monospace;
    text-align: left;
}


#contact button {
    cursor:pointer;
    font-weight: bolder;
    font-size: 2rem
}

@media screen and (max-width: 700px) {
    #contact {
        width: 90%;
        text-align: center;
        margin: auto;
        padding: 6rem;
    }
    
    .contact-text h3{
        font-size: 3rem;
        font-family: 'Press Start 2P', cursive;
        margin: 4rem 0;
    }
    .contact-text p{
        font-size: 2rem;
        width: 100%;
        margin: auto;
        text-align: center;
        margin-top: 5rem;
    }
    
    form {
        text-align: center;
    }
    
    #contact form input {
        width: 100%;
        display: block;
        margin: auto;
        margin-top: 3rem;
        padding: 1rem;
        border: 2px solid #000;
        background-color: transparent;
        color: #000;
        text-align: center;
        font-size: 2rem;
        outline: none;
        border-left: 2px solid #000;
        border-right: 2px solid #000;
        font-family: 'Source Code Pro', monospace;
        text-align: left;
    }
    
    #contact textarea {
        width: 100%;
        display: block;
        margin: auto;
        margin-top: 3rem;
        padding: 1rem;
        border: 2px solid #000;
        background-color: transparent;
        color: #000;text-align: center;
        font-size: 2rem;
        outline: none;
        font-family: 'Source Code Pro', monospace;
        text-align: left;
    }
    
    
    #contact button {
        cursor:pointer;
        font-weight: bolder;
        font-size: 2rem
    }
}

/* 



Footer



*/

footer {
    width: 100%;
    background-color:#000;
}

.footerContainer {
    width: 80%;
    margin: auto;
    padding: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.imgSide {
    width: 40%;
    color: #fff;
    text-align: center;
    width: 30%;
}

.imgSide p {
    font-size: 1.4rem;
}

.footerContainer img {
    width: 50%;
}

.footerLinks{
    color: #fff;
    font-size: 1.4rem;
    width: 60%;
}

@media screen and (max-width: 700px) {

    footer {
        width: 100%;
        background-color:#000;
    }
    
    .footerContainer {
        width: 90%;
        margin: auto;
        padding: 3rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
    }
    
    .imgSide {
        width: 40%;
        color: #fff;
        text-align: center;
        width: 100%;
    }
    
    .imgSide p {
        font-size: 1.4rem;
        margin-bottom: 1rem;
    }
    
    .footerContainer img {
        width: 100%;
    }
    
    .footerLinks{
        color: #fff;
        font-size: 1rem;
        width: 100%;
    }
}
